@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
  font-family: 'poppins', sans-serif;
}

.scan_img::before {
  content: '';
  background-image: url(https://factsscan.com/wp-content/themes/factsscan/assets/images/Group_right.png);
  width: 60px;
  background-repeat: no-repeat;
  height: 100%;
  gap: 0;
  background-size: contain;
  display: inline-block;
  position: absolute;
  right: -33px;
  top: -15px;
}

.scan_img::after {
  content: '';
  background-image: url(https://factsscan.com/wp-content/themes/factsscan/assets/images/border.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 100%;
  left: 60%;
  transform: translateX(-50%);
}

.scan_img {
  position: relative;
  color: #00B249;
  display: inline-block;
}

.home_banner::before {
  content: "";
  background-image: url(https://factsscan.com/wp-content/uploads/2025/10/home-banner_left.svg);
  max-width: 690px;
  width: 100%;
  height: 100%;
  max-height: 435px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.home_banner::after {
  content: "";
  background-image: url(https://factsscan.com/wp-content/uploads/2025/10/home-banner-right.svg);
  max-width: 502px;
  width: 100%;
  height: 100%;
  max-height: 610px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1480px;
}

/* Mobile - Extra Small (xs) */
@media (max-width: 640px) {
  .container {
    padding-right: 12px;
    padding-left: 12px;
  }
}

/* Small (sm) */
@media (min-width: 641px) and (max-width: 768px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/* Medium (md) */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 960px;
    padding-right: 18px;
    padding-left: 18px;
  }
}

/* Large (lg) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* Extra Large (xl) */
@media (min-width: 1281px) {
  .container {
    max-width: 1480px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.footer_section {
  background-image: url(https://factsscan.com/wp-content/themes/factsscan/assets/images/footer.png);
  min-height: 509px;
  max-height: 509px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}